<!DOCTYPE html>
<html lang>
<head>
	<meta charset="utf-8">
	<meta name="description" content>
	<meta name="keywords" content>
	<meta name="author" content="Hansjürg Jaggi">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>USA by train</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Saira|Saira+Semi+Condensed">
	<link rel="stylesheet" href="media/css/style.css">
	<link rel="shortcut icon" href="media/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta property="og:url" content>
	<meta property="og:type" content="website">
	<meta property="og:title" content>
	<meta property="og:description" content>
	<meta property="og:image" content>
	<meta property="og:locale" content>
	<script src="media/js/head.js"></script>
</head>

<body>
	<div id="gallery__map" tabindex="1"></div>
	<div class="gallery__desktop">
		<div class="gallery__navigation gallery--fadeout" tabindex="1">
			<h3 data-locale="change_language">
				Sprache
			</h3>
			<select class="gallery__select gallery__select--language">
			  
			</select>
			<h3 data-locale="change_focus">
				Fokus
			</h3>
			<select class="gallery__select gallery__select--state">
			  <option data-locale="state">Staat:</option>
			</select>
			<select class="gallery__select gallery__select--city">
			  <option data-locale="city">Stadt:</option>
			</select>
			<a class="gallery__button gallery__button--cleanup gallery__control gallery--hidden" data-button="cleanup" data-locale="cleanup">
				Daten bereinigen
			</a>
		</div>
		<div class="gallery__window">
			<a class="gallery__button gallery__button--fullscreen gallery__control gallery--hidden" data-button="fullscreen" data-locale="fullscreen">
				
			</a>
			<a class="gallery__button gallery__button--rotate gallery__control gallery--hidden" data-button="rotate" data-locale="rotate">
				
			</a>
			<a class="gallery__button gallery__button--delete gallery__control gallery--hidden" data-button="delete" data-locale="delete">
				
			</a>
			<a class="gallery__button gallery__button--mute gallery__control gallery--hidden" data-button="mute" data-locale="mute">
				
			</a>
			<div class="gallery__share-wrapper">
				<div class="gallery__share">
					<a class="gallery__button gallery__button--mail gallery__control" data-button="mail" data-locale="mail">
						
					</a>
					<a class="gallery__button gallery__button--twitter gallery__control" data-button="twitter" data-locale="twitter">
						
					</a>
					<a class="gallery__button gallery__button--facebook gallery__control" data-button="facebook" data-locale="facebook">
						
					</a>
					<a class="gallery__button gallery__button--google-plus gallery__control" data-button="google-plus" data-locale="google-plus">
						
					</a>
				</div>
			</div>
			<a class="gallery__button gallery__button--close gallery__control" data-button="close" data-locale="close">
				
			</a>
			<div class="gallery__content">
				<h1 data-locale="title"></h1>
				<span data-locale="welcome_text"></span>
			</div>
			<div class="gallery__image-caption gallery__control gallery--hidden">
				<a class="gallery__button gallery__button--prev gallery__control" data-button="prev" data-locale="prev">
					
				</a>
				<a class="gallery__button gallery__button--next gallery__control" data-button="next" data-locale="next">
					
				</a>
				<span class="gallery__image-caption-text"></span>
			</div>
		</div>
	</div>
	<script src="media/js/main.js"></script>

</body>
</html>
