<!DOCTYPE html>
<html>
  <head>
    <title>StreetArt overview</title>
    <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_C6GDv2SAhTGc2ijeomtQThYpS761PvU"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/media/scripts/map.js"></script>
  </head>
  <body>
    <div id="gallery__map"></div>
    <div class="gallery__desktop">
      <div class="gallery__window">
        <a class="gallery__button gallery__button--fullscreen gallery__control" data-button="fullscreen"></a>
        <a class="gallery__button gallery__button--close" data-button="close"></a>
        <div class="gallery__content">
          <h1>
            USA im Zug
          </h1>
          <p>
            Im Herbst 2017 durchquerten wir mit dem Zug quer durch die Vereinigten Staaten.
          </p>
          <p>
            Wähle entweder eine Markierung auf der Karte oder einen Tag im Kalender aus um mehr zu erfahren. 
          </p>
        </div>
        <div class="gallery__image-caption gallery__control">
          <a class="gallery__button gallery__button--prev" data-button="prev"></a>
          <a class="gallery__button gallery__button--next" data-button="next"></a>
          <span class="gallery__caption-text"></span>
        </div>
      </div>
      <div class="gallery__navigation"></div>
    </div>
  </body>
</html>
