
<!DOCTYPE html>


<html lang>


<head>
	<meta charset="utf-8">
	<meta name="description" content>
	<meta name="keywords" content>
	<meta name="author" content="Hansjürg Jaggi">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{title}}</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Saira|Saira+Semi+Condensed">
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon" href="img/favicon.png">
	<meta property="og:url" content>
	<meta property="og:type" content="website">
	<meta property="og:title" content>
	<meta property="og:description" content>
	<meta property="og:image" content>
	<meta property="og:locale" content>
	<script src="js/head.js"></script>
</head>

<body>
  <div id="gallery__map"></div>
  <div class="gallery__desktop">
    <div class="gallery__navigation">
      <h3>
        Fokus ändern
      </h3>
      <select class="gallery__select gallery__select--state">
        <option>Staat:</option>
      </select>
      <select class="gallery__select gallery__select--city">
        <option>Stadt:</option>
      </select>
    </div>
    <div class="gallery__window">
      <a class="gallery__button gallery__button--fullscreen gallery__control gallery--hidden" data-button="fullscreen"></a>
      <a class="gallery__button gallery__button--close" data-button="close"></a>
      <div class="gallery__content">
        <h1>
          USA im Zug
        </h1>
        <p>
          Im Herbst 2017 durchquerten wir mit dem Zug die Vereinigten Staaten.
        </p>
        <p>
          Damit die digitalen Aufnahmen dieser interessanten und vielseitigen Reise der Öffentlichkeit zugänglich sind, haben wir diese Website erstellt.
        </p>
        <p>
          Klick auf die Punkte um die einzelnen Bilder und Videos zu finden. Sobald ein Bild oder Video geöffnet wurde, kannst du mit Hilfe der "links" und "rechts" Tasten der Tastatur oder den "<" und ">" Knöpfen auf dem Bild-Titel navigieren.
        </p>
        <p>
          Der Knopf links oben schaltet zum Vollbild-Modus, mit dem Knopf rechts oben kehrst du zur Karte zurück.
        </p>
      </div>
      <div class="gallery__image-caption gallery__control gallery--hidden">
        <a class="gallery__button gallery__button--prev" data-button="prev"></a>
        <a class="gallery__button gallery__button--next" data-button="next"></a>
        <span class="gallery__caption-text"></span>
      </div>
    </div>
  </div>
	<script src="js/main.js"></script>

</body>
</html>
